[project]
	description =  ffmpeg Android.mk for android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hybridego
[access "refs/for/refs/*"]
	read = group user/hybridego
	push = group user/hybridego
	label-Code-Review = -2..+2 group user/hybridego
	label-Verified = -1..+1 group user/hybridego
	rebase = group user/hybridego
	removeReviewer = group user/hybridego
	submit = group user/hybridego
[access "refs/heads/*"]
	read = group user/hybridego
	create = group user/hybridego
	push = +force group user/hybridego
	pushMerge = group user/hybridego
[access "refs/tags/*"]
	push = +force group user/hybridego
	pushTag = group user/hybridego
	pushSignedTag = group user/hybridego
